<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/erpm?useSSL=false</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.username">root</property>
    <property name="connection.password">root</property>
    <property name="hbm2ddl.auto">update</property>
    <mapping package="edu.cqupt.mislab.erp.user.model.entity"/>
    <mapping package="edu.cqupt.mislab.erp.game.manage.model.entity"/>
    <mapping package="edu.cqupt.mislab.erp.game.compete.operation.iso.model.entity"/>
    <mapping package="edu.cqupt.mislab.erp.game.compete.operation.market.model.entity"/>
    <mapping package="edu.cqupt.mislab.erp.game.compete.operation.product.model.entity"/>
    <mapping package="edu.cqupt.mislab.erp.game.compete.operation.order.model.entity"/>
    <mapping package="edu.cqupt.mislab.erp.game.compete.operation.material.model.entity"/>
  </session-factory>
</hibernate-configuration>